{{ define "content" }}
<div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Dashboard</h3>
          <p class="text-subtitle text-muted">
            Wellcome Administrator in dashboard page Go-Startup
          </p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Dashboard /</a></li>
             
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
<section class="row">
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div
                  class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                  <div class="stats-icon purple mb-2">
                    <!-- <i class="iconly-boldProfile"></i> -->
                    <i class="bi bi-person" style="margin-bottom:25px; margin-right:10px;"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">
                    Users 
                  </h6>
                  <h6 class="font-extrabold mb-0">100</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div
                  class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                  <div class="stats-icon blue mb-2">
                    <i class="bi bi-building" style="margin-bottom:25px; margin-right:10px;"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Campaign</h6>
                  <h6 class="font-extrabold mb-0">1000</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div
                  class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                  <div class="stats-icon green mb-2">
                    <!-- <i class="iconly-boldAdd-User"></i> -->
                    <i class="bi bi-cash" style="margin-bottom:25px; margin-right:10px;"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Transactions</h6>
                  <h6 class="font-extrabold mb-0">$,1000</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div
                  class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                  <div class="stats-icon red mb-2">
                    <!-- <i class="iconly-boldBookmark"></i> -->
                    <i class="bi bi-chat-text-fill" style="margin-bottom:25px; margin-right:10px;"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Feedback</h6>
                  <h6 class="font-extrabold mb-0">10</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body py-4 px-3">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img src="/image/faces/1.jpg" alt="Face 1" />
            </div>
            <div class="ms-3 name">
              <h5 class="font-bold">Administrator</h5>
              <h6 class="text-muted mb-0">@ridhorezi1212</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}